/* mobile css */
#container{
	width: 100%;
	background-color: steelblue;
	/*color: red;*/
}

@media (min-width: 20em) {
/* tablet css, will inherit styles from mobile */
	#container{
		background-color: darkslateblue;
		width: 100%;
	}


}
@media (min-width: 55em) {
/* desktop css, will inherit styles from mobile and tablet */
/* increase side margins, content layout unchanged */

	#container{
		background-color: cadetblue;
		width: 55em;
		margin: auto;
	}

}


